* {
    padding: 0;
    box-sizing: border-box;
}

.colorful-background {
    background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.expense-description {
    float: right;
}

h1 {
    text-align: left;

}

h2 {
    text-align: left;
}

.rightside {
    float: right;
}

.clearfix {
    content: " ";
    clear: both;
    display: table;
}

